<!DOCTYPE html>
<html>
<head>
  <title>RentAccount</title>
  <%= stylesheet_link_tag    "rent_account/application", :media => "all" %>
  <%= javascript_include_tag "rent_account/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
